{{define "title"}}OreSec{{end}}
{{define "body"}}
<main id="#main">
    <div class="text-center flex justify-center">
        <h1 class="text-6xl p-8">Get in touch with us!</h1>
    </div>
    <div class="">
        <div class="py-2 rounded-md container border-2 m-auto grid grid-cols-2 gap-4 p-4" style="border-color:#21314d;">
            <div class="justify-center text-center">
                <div class="py-2 font-bold text-xl colorado-red">President</div>
                <div class="py-2">Garrett Thompson (Reformedkoala)</div>
                <div class="py-2 flex justify-center items-center">
                    <img class="rounded-full" style="width:150px; height:150px;" src="/static/img/Bongo_Koala.png" alt="Garrett's PFP"><br>
                </div>
                <div class="py-2">Email: garrettthompson@mines.edu</div>
            </div>
            <div class="justify-center text-center">
                <div class="py-2 font-bold text-xl colorado-red">Vice-President</div>
                <div class="py-2">Tristen Erpelding (Ublius)</div>
                <div class="py-2 flex justify-center items-center">
                    <img class="rounded-full" style="width:150px; height:150px;" src="/static/img/Ublius.png" alt="Tristen's PFP"><br>
                </div>
                <div class="py-2">Email: terpelding@mines.edu</div>
            </div>
        </div>
        <div class="py-2"></div>
        <div class="py-2 rounded-md container border-2 m-auto grid grid-cols-3 gap-4 p-4" style="border-color:#21314d;">
            <div class="justify-center text-center">
                <div class="py-2 font-bold text-xl colorado-red">Secretary</div>
                <div class="py-2">Luke Bell</div>
                <div class="py-2 flex justify-center items-center">
                    <img class="rounded-full" style="width:150px; height:150px;" src="/static/img/Luke.png" alt="Luke's PFP"><br>
                </div> 
                <div class="py-2">Email: lukebell@mines.edu</div>
            </div>
            <div class="justify-center text-center">
                <div class="py-2 font-bold text-xl colorado-red">Treasurer</div>
                <div class="py-2">Miguel Wills</div>
                <div class="py-2 flex justify-center items-center">
                    <img class="rounded-full" style="width:150px; height:150px;" src="/static/img/Miguel.png" alt="Miguel's PFP"><br>
                </div> 
                <div class="py-2">Email: mwills@mines.edu</div> 
            </div>
            <div class="justify-center text-center">
                <div class="py-2 font-bold text-xl colorado-red">SysAdmin</div>
                <div class="py-2">Nate Moore</div>
                <div class="py-2 flex justify-center items-center">
                    <img class="rounded-full" style="width:150px; height:150px;" src="/static/img/Nate.png" alt="Nate's PFP"><br>
                </div>
                <div class="py-2">Email: nmoore1@mines.edu</div>
            </div>
        </div>
        <div class="py-2"></div>
    </div>
</main>
{{end}}

