{{define "title"}}OreSec{{end}}
{{define "body"}}
<main id="#main">
    <div class="jumbotron text-center hero-content homepage-hero d-flex flex-column justify-content-center">
        <h1 align="center" class="display-3" style="font-family: 'Mulish',sans-serif;">Get In Touch With Us</h1>
        <div class="container" id="contact-list">
            <div class="row">
                <div class="col-lg">
                    <h4 align="center">President<br></h4>
                    <p>Garrett Thompson (Reformedkoala)<br></p>
                    <img src="/static/img/Bongo_Koala.png" alt="Garrett's PFP"><br>
                    <p>Email: garrettthompson@mines.edu<br></p>
                </div>
                <div class="col-lg">
                    <h4 align="center">Vice-President<br></h4>
                    <p>Tristen Erpelding (Ublius)<br></p>
                    <img src="/static/img/Ublius.png" alt="Tristen's PFP"><br>
                    <p>Email: terpelding@mines.edu<br></p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg">
                    <h4 align="center">Secretary<br></h4>
                    <p>Luke Bell<br></p>
                </div>
                <div class="col-lg">
                    <h4 align="center">Treasurer<br></h4>
                    <p>Miguel<br></p>
                </div>
                <div class="col-lg">
                    <h4 align="center">SysAdmin<br></h4>
                    <p>Nate Moore</p>
                </div>
        
        </div>
    </div>
</main>
{{end}}

