{{define "title"}}OreSec{{end}}
{{define "body"}}
<div class="text-8xl py-16 text-center flex flex-column justify-center">
    <h1>Join Our Discord!<br></h1>
</div>
<div class="container text-center justify-content-center">
    <div class="text-left lead">Join our Discord today and get acquainted with the OreSec community. Find all of our information about meetings, talk resources, and beginner resources in here. If you have questions please ask!<br></div>
    <div class="text-left lead">How to join the Server:</div>
    <div class="text-left lead">1. Create a Discord account<br>
        <span class="tab"></span>Use our invite link and create an account or sign in with an existing one.<br>
        2. Verify your email<br>
        <span class="tab"></span>Make sure your email is verified so you can log in again!<br>
        3. Download the app<br>
        <span class="tab"></span>Download the Discord app on your mobile device or computer, or simply use the web version!<br>
    </div>
    <div class="p-8">
        <a class="text-4xl bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="https://discord.com/invite/mZSNCy9rPM" role="button">
            Join Server
        </a>
    </div>
</div>
{{end}}
