{{define "title"}}OreSec{{end}}
{{define "body"}}
<div class="back-grad jumbotron text-center hero-content homepage-hero d-flex flex-column justify-content-center">
    <h1 align="center" class="display-3" style="font-family: 'mulish',sans-serif;">Join Our Discord!<br></h1>
</div>
<div class="container text-center justify-content-center">
    <div align="left" class="lead">Join our Discord today and get acquainted with the OreSec community. Find all of our information about meetings, talk resources, and beginner resources in here. If you have questions please ask!<br></div>
        <div align="left" class="lead" style="margin-top: 2rem;">How to join the Server:</div>
        <div align="left" class="lead">1. Create a Discord account<br>
        <span class="tab"></span>Use our invite link and create an account or sign in with an existing one.<br>
        2. Verify your email<br>
        <span class="tab"></span>Make sure your email is verified so you can log in again!<br>
        3. Download the app<br>
        <span class="tab"></span>Download the Discord app on your mobile device or computer, or simply use the web version!<br>
    </div>
    <p><a class="btn btn-lg btn-success" href="https://discord.com/invite/mZSNCy9rPM" role="button" style="color: rgb(255, 255, 255); background-color: rgb(9, 57, 108);">Join Server</a></p>
</div>
{{end}}
