{{define "title"}}OreSec{{end}}
{{define "body"}}

<main id="#main">
    <!--<h1 align="center" class="centered display-3" style="font-family: 'Mulish',sans-serif;">Colorado School of Mines Cybersecurity Club</h1>-->
    <div class="back-grad jumbotron text-center hero-content homepage-hero d-flex flex-column justify-content-center">
        <h1 align="center" class="display-3" style="font-family: 'Mulish',sans-serif;">Colorado School of Mines Cybersecurity Club</h1>
    </div>
    <div class="container">
    <div class="justify-content-center">
        <div class="row">
            <div class="col-lg-6">
                <h4 align="center">How to Join?<br></h4>
                <p><div class="container site-content"><div class="row homepage-panels"><div class="col-md-6"><div class="panel panel-default"><div class="panel-body"></div></div></div></div></div></p>
                <p>To join OreSec, simply show up to our meetings and involve yourself in the club. If you're new to cyber security, just show up eager to learn!<br><br>You should join our Discord in order to find out what's going on and see our upcoming events. One you join head over to the #announcements channel.<br></p>
            </div>
            <div class="col-lg-6">
                <h4 align="center">What do we do?<br></h4>
                <p><div class="container site-content"><div class="row homepage-panels"><div class="col-md-6"><div class="panel panel-default"><div class="panel-body"></div></div></div></div></div></p>
                <p>The Colorado School of Mines Cybersecurity Club (OreSec) competes in Capture-the-Flag competitions both in-person and online, as well as Attack-Defense competitions, and various others. We also have typically weekly meetings and talks about Cybersecurity related topics. If you're completely new this is a great place to get involved and learn more!<br></p> 
            </div>
        </div>
    </div>
    </div>
    
</main>
{{end}}

