{{define "title"}}OreSec{{end}}
{{define "body"}}

<main id="#main">
    <div style=""class="justify-content-center text-center">
        <div class="flex justify-center items-center py-48 text-9xl">
            <p class="blaster-blue font-bold">Ore</p>
            <p class="colorado-red font-bold">Sec</p>
            <!--<img class="h-auto w-auto" src="/static/img/Simple-OreSec-Design.svg">-->
        </div>
        <div class="px-12">
            <div class="flex flex-col">
                <h2 class="py-2 text-6xl colorado-red font-bold">How to Join?<br></h4>
                <p class="py-2 text-xl">
                    To join OreSec you can join our 
                    <a class="underline" href="https://oreconnect.mines.edu/Oresec/club_signup">OreConnect</a> 
                    Group and our 
                    <a class="underline" href="./discord.html">Discord</a>
                    then just show up to any meeting!
                    <br>
                    <br>
                    We are open to any skill and interest level!
                    <br>
                    <br>
                    Our main form of communication will be through Discord and we've got a healthy community that you can chat and ask questions in!
                    <br>
                    <br>
                    We also will be using OreConnect to communicate the same information, gauge interest, and give out badges!  
                    <br>
                </p>
            </div>
            <div class="flex flex-col px-4">
                <h2 class="py-2 text-6xl colorado-red font-bold">What do we do?<br></h4>
                <div class="mt-2 grid justify-center gap-4 md:grid-cols-2 xl:grid-cols-4">
                    <div class="rounded-md border-2 p-3" style="border-color:#21314d;">
                        <div class="flex flex-col items-center gap-4">
                            <h4 class="text-lg font-bold">[Industry and Academic Talks]</h4>
                            <p>OreSec regularly hosts talks from both Industry professionals and Academics alike.</p></br>
                            <p>These are advertised in our Discord and often include free food and allow you to interact and ask questions!</p>
                        </div>
                    </div>
                    <div class="rounded-md border-2 p-3" style="border-color:#cc4628;">
                        <div class="flex flex-col items-center gap-4">
                            <h4 class="text-lg font-bold">[Competitions]</h4>
                            <p>OreSec does not have an official CTF team, which we believe is a good thing!</p>
                            <p>This allows anyone and everyone to join any CTF we are participating in as long as there is enough space and no restrictions on number of teams!</p>
                            <p>So keep up with our Discord to see upcoming competition oppurtunities.</p>
                        </div>
                    </div>
                    <div class="rounded-md border-2 p-3" style="border-color:#21314d;">
                        <div class="flex flex-col items-center gap-4">
                            <h4 class="text-lg font-bold">[HSOreCTF]</h4>
                            <p>OreSec has started a new tradition of hosting an annual High School CTF called HSOreCTF.</p>
                            <p>Wanna get involved? Keep up with our Discord!</p>
                        </div>
                    </div>
                    <div class="rounded-md border-2 p-3" style="border-color:#cc4628;">
                        <div class="flex flex-col items-center gap-4">
                            <h4 class="text-lg font-bold">[Hacking Nights and Cyber Range]</h4>
                            <p>Coming this year OreSec is working on implementing a Cyber Range on the Mines campus. This will eventually allow OreSec members to practice their attack or defense skills!</p>
                            <p>We need architects for machines! If helping out with the Cyber Range sounds fun to you, make sure you join our Discord!</p>
                            <p>In conjunction with this and our normal meetings, OreSec will be hosting weekly hacking nights on Mondays at 8:00 PM MDT in CTLM B60! These will range from HackTheBox walkthroughs or work-alongs to full-blown Hardware Hacking nights.</p>
                            <p>If you're interested keep up with the Discord and show up!</p>
                        </div>
                    </div>                                                             
                </div>
            </div>
        </div>
    </div>

</main>
{{end}}

