{{define "layout"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{template "title"}}</title>

        <link rel="stylesheet" href="/static/assets/bootstrap.min.css"/>

        <link rel="stylesheet" href="/static/assets/style.css"/> 
       
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    </head>
    <body>
        <div class="header clearfix">
            <nav class="navbar navbar-expand-lg px-lg-5 py-lg-2 fixed-top topbar bg-light">
                <div class="container-fluid flex-nowrap px-lg-5">
                    <a class="navbar-brand" href="index.html"><img id="banner" src="/static/img/Simple-OreSec-Design-Banner-Experiment.svg" alt="Small OreSec Logo"></a>
                        <ul class="navbar-nav d-flex mb-2 mb-lg-0">
                            <li class="nav-item px-1">
                                {{if eq .Active "index.html"}}
                                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                                {{else}}
                                <a class="nav-link" href="index.html">Home</a>
                                {{end}}
                            </li>
                            <li class="nav-item">
                                {{if eq .Active "schedule.html"}}
                                <a class="nav-link active" href="schedule.html">Schedule <span class="sr-only">(current)</span></a>
                                {{else}}
                                <a class="nav-link" href="schedule.html">Schedule</a>
                                {{end}}
                            </li>

                            <li class="nav-item">
                                {{if eq .Active "discord.html"}}
                                <a class="nav-link active" href="discord.html">Discord <span class="sr-only">(current)</span></a>
                                {{else}}
                                <a class="nav-link" href="discord.html">Discord</a>
                                {{end}}
                            </li>

                            <li class="nav-item">
                                {{if eq .Active "contact.html"}}
                                <a class="nav-link active" href="contact.html" style="margin-right: -150px;">Contact <span class="sr-only">(current)</span></a>
                                {{else}}
                                <a class="nav-link" href="contact.html" style="margin-right: -150px;">Contact</a>
                                {{end}}
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
            {{template "body"}}
        <div>
            <footer class="footer">
                <p>OreSec Made with Go<br></p>
            </footer>
        </div>
    </body>
</html>
{{end}}
