{{define "title"}}OreSec{{end}}
{{define "body"}}
<div class=" back-grad jumbotron text-center hero-content homepage-hero d-flex flex-column justify-content-center">
    <div class="justify-content-center infopage-content">
        <iframe src="https://calendar.google.com/calendar/embed?height=700&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&title=OreSec%20Schedule&src=b3Jlc2VjbWluZXNAZ21haWwuY29t&color=%23039BE5" style="border-width:0" width="900" height="700" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
{{end}}
